[submodule "login-backend"]
	path = login-backend
	url = git@github.com:Gamify-IT/login-backend.git
[submodule "overworld"]
	path = overworld
	url = git@github.com:Gamify-IT/overworld-demo.git
[submodule "minigames/Moorhuhn"]
	path = minigames/Moorhuhn
	url = git@github.com:Gamify-IT/Moorhuhn.git
[submodule "minigames/crosswordpuzzle"]
	path = minigames/crosswordpuzzle
	url = git@github.com:Gamify-IT/crosswordpuzzle.git
