[submodule "login-backend"]
	path = login-backend
	url = ../login-backend.git
[submodule "overworld"]
	path = overworld
	url = ../overworld-demo.git
[submodule "minigames/Moorhuhn"]
	path = minigames/Moorhuhn
	url = ../Moorhuhn.git
[submodule "minigames/crosswordpuzzle"]
	path = minigames/crosswordpuzzle
	url = ../crosswordpuzzle.git
[submodule "login-frontend"]
	path = login-frontend
	url = ../stupro-login-demo.git
