# Put this into /etc/systemd/system/

[Unit]
Description=Run docker-configuration-update daily

[Timer]
OnCalendar=*-*-* 02:00:00
Persistent=true

[Install]
WantedBy=timers.target
