# Put this into /etc/systemd/system/

[Unit]
Description=update configuration of docker containers
After=network.target

[Service]
Type=simple
User=docker-user
WorkingDirectory=/home/docker-user/run-config/goulburn/
ExecStart=/home/docker-user/run-config/goulburn/docker-configuration-update.sh

[Install]
WantedBy=multi-user.target
